{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_profile.css' %}"/>
<h2>PROFILE</h2>
    <section name="card">
    	<div class="card">
        	<div class="top-section"></div>
                <img class="img" src="https://78.media.tumblr.com/3490e178451a95a930d793195d9b3747/tumblr_o54730zBMZ1qeu5jko2_500.gif" alt="PICT"> 
            <div class="bottom-section"></div>
                <h4>{{Name}}</h4>
            		<ul>
    	        		<table>
    		                <tr>
    		                    <td>Birthday</td>
    		                    <td>{{ Birthday }}</td>
    		                </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{ Gender }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ Description }}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>{{ Email }}</td>
                            </tr>
    	            	</table>
            		</ul> 
                <h5>Expertise</h5>
                    <ul>
                        <table>
                                {% for ii in Expert %}
                                <div class="col-xs-2">
                                    <td class="label label-info" id="expertise_dict">{{ ii }}<td> 
                                </div>
                                {% endfor %}
                        </table>
                    </ul>
        </div>
    </section>
    {% endblock %}

