{% extends "base.html"%}
{%block content%}
{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_dashboard.css' %}"/>
<h1 align="center" class="textcolor"> Statistic </h1>
 
<h2 align="center" class="textcolor"> <img class="img-circle" src="https://78.media.tumblr.com/3490e178451a95a930d793195d9b3747/tumblr_o54730zBMZ1qeu5jko2_500.gif") alt="My Photo" style=width:128px;height:128px> {{name}}</h2> 
</img> 
<hr/>

<p align="center" class="textcolor2"> Friends: {{countFriend}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Feed: {{countUpdate}}</p>
<hr/>

<p align='center' class="textcolor5"> Latest Post </p>
<p align='center' class="textcolor"> <img src="https://78.media.tumblr.com/3490e178451a95a930d793195d9b3747/tumblr_o54730zBMZ1qeu5jko2_500.gif") alt="My Photo 2" style=width:50px;height:50px> {{name}}</p> </img>
<p align='center' class="textcolor3">{{lastUpdate.activity}}</p>
<p align='center' class="textcolor4">{{lastUpdate.date}}</p>
<hr/>
{%endblock%}