{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_addfriend.css' %}" />
<h1 class="main-title">ADD FRIEND</h1>
<hr/>
<section name="input-form" id="input-form">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add-friend:new_friend' %}">
            <h2 class="form-title">Add New Friend</h2>
            {% csrf_token %}
            {{ friend_form }}
            <button type="submit" class="btn btn-warning">Add Friend</button>
            <br>
        </form>
    </div>
</section>
<section name="friend-list" id="friend-list">
    <div class="container">      
        <div class="flex">
        <h2 class="friend-list-title">Friend List</h2>
        {% for data in friend %}
            <div class="flex-item">
                <div class="friend-box">
                    <div class="friend-img">
                        <img class="img" src="https://78.media.tumblr.com/3490e178451a95a930d793195d9b3747/tumblr_o54730zBMZ1qeu5jko2_500.gif" alt="PICT">
                    </div>    
                    <div class="friend-name">
                        {{data.name}}
                    </div>
                    <div class="friend-url">
                        <a href={{data.url}} target="_blank">{{data.url}}</a>
                    </div>
                    <div class="friend-added">
                        Added {{data.created_date}}
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>
</section>

{% endblock %}