{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_updatestatus.css' %}" />
<h2 class="main-title" style="font-weight:bold; font-size: 50px"> UPDATE STATUS </h2>
<hr/>
<section name="update-list" id="update-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'status:update_activity' %}">
            {% csrf_token %}
            {{ update_form }}
            <input  id="submit" type="submit" class="btn btn-secondary float-right" value="POST">
            <br>
        </form>
    </div>
</section>

{% for data in updates %}
  <section name="update-status" id="update-status">
      <div class = "status">
          <div class="row">
              <div class="col-sm-12 col-sm-offset-0">
                <div class="media" style="padding: 15px">
                  <div class="media-left">
                    <img src = " https://78.media.tumblr.com/3490e178451a95a930d793195d9b3747/tumblr_o54730zBMZ1qeu5jko2_500.gif " class="media-object" style="width: 80px;padding-right: 8px">
                  </div>
                  <div class="media-body">
                      <strong>{{user_name}}</strong>
                      <h6>Posted on {{data.date}}</h6>
                      <p>{{data.activity}}</p>
                      <div class="delete" data-id="{{data.id}}">
                        <a href="{% url 'status:clear' object_id=data.id %}"><img src="https://png.icons8.com/full-trash/androidL/1600" style="width: 35px;height 35px; top: 10px;"></a>
                      </div>
                      <div>
                        <button ng-href="javascript:void(0)" onclick="toggle_visibility('popupBoxPosition');"  class="commentBtn btn btn-primary btn-sm"> Comment </button>
                      </div>
                  </div>
                </section>
                  <section name="update-comment" id="update-comment">
                    {% for comment in data.comment_set.all %}
                      <div class = "comment">
                            <div class="row">
                              <div class="col-sm-8 col-sm-offset-0">
                                <div class="media" style="padding: 8px">
                                  <div class="media-left">
                                    <img src = " https://78.media.tumblr.com/3490e178451a95a930d793195d9b3747/tumblr_o54730zBMZ1qeu5jko2_500.gif " class="media-object" style="width: 80px;padding-right: 6px">
                                  </div>
                                  <div class="media-body">
                                    <strong>{{user_name}} says: </strong>
                                    <h6>Posted on {{comment.date}}</h6>
                                    <p>{{comment.comment}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    {% endfor %}
                  </section>
                    <section name="popupBoxPosition" id="popupBoxPosition">
                      <div class="popupBoxWrapper">
                        <div class="popupBoxContent">
                          <form id="form" method="POST" action="{% url 'status:update_comment' pk=data.id %}">
                            <h2>Add Comment</h2>
                            <br>
                            {% csrf_token %}
                            {{ comment_form }}
                            <br>
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post Comment">
                            <button ng-href="javascript:void(0)" onclick="toggle_visibility('popupBoxPosition');"> Cancel </button>
                          </form>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
{% endfor %}
<hr/>

<script type="text/javascript">
  <!--
   function toggle_visibility(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'block')
     e.style.display = 'none';
    else
     e.style.display = 'block';
   }
  //-->
</script>

{% endblock %}
