.navbar-static-top{
    margin-bottom: 5px;
}
.navbar-default .navbar-nav>li>a{
    cursor: pointer;
}

body{
    background-color: #1A4066;
}

#input-form{
    border: 2px solid;
    border-radius: 25px;
    color: white;
    font: "Helvetica Neue";
    background-color:#333;
    margin: 30px;
}

button{
    margin: 20px;
    margin-left: 500px;
}

#friend-list{
    border: 2px solid;
    border-radius: 25px;
    background-color: #EDA10D;
    border-color: white;
    color: black;
    margin: 30px;
}

.friend-list-title{
    margin-bottom: 15px;
    color: white;
}

table{
    border-collapse: separate; /* Or do nothing, this is default */
    border-spacing: 5px;
    border-top-color: white;
    border-color: transparent;
}


td{
    border-collapse: separate; /* Or do nothing, this is default */
    border-spacing: 3px;
    border-color: transparent;
    border-radius: 8px;
}

