{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="TUGAS 1">
    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <title>
        {% block title %} Kelompok 9 PPW-C {% endblock %}
    </title>
</head>

<body>
 <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg" style="background-color: #e6f9ff">
          <a class="navbar-brand navbar-left" href="#" >9book</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" background-color: "#ccf5ff">
            <ul class="navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="/status/">Status</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile-page/">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add-friend/">Add Friend</a>
              </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/dashboard/">Stats</a>
			  </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}

    {%block footer%}
    <p align='center' style='color:white'>Made with love and passion</p>
	<p align='center' style='color:white'>&copy; Kelompok 9 PPW-C 2017</p>
    {%endblock%}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}

</html>
