
.main-title{
    color: white;
    text-align: center;
    text-shadow: 3px 3px 0 #000, -1px -1px 0  #1A4066, 1px -1px 0 #1A4066, -1px 1px 0 #1A4066, 1px 1px 0  #1A4066;    
    background-color: black;
}

body{
    background-color: #1A4066;
}

#input-form{   
    border: 2px solid;
    border-radius: 25px;
    color: white;
    font: "Helvetica Neue";
    background-color:#333;
    margin: auto;
    margin-top: 20px; 
    width:75%;
}

.form-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0  #1A4066, 1px -1px 0 #1A4066, -1px 1px 0 #1A4066, 1px 1px 0  #1A4066;
}

form{
    width: 70%;
    margin: auto;
    font-size: 20px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0  #1A4066, 1px -1px 0 #1A4066, -1px 1px 0 #1A4066, 1px 1px 0  #1A4066;
}


.btn{
    font-size: 20px;
    margin: 20px;
    align-self: auto;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-shadow: 2px 2px 0 #000, -1px -1px 0  #1A4066, 1px -1px 0 #1A4066, -1px 1px 0 #1A4066, 1px 1px 0  #1A4066;    
}

#friend-list{
    border: 2px solid;
    border-radius: 25px;
    background: linear-gradient(141deg, #ED970D 0%, #F4C15C 51%, #ED970D 75%);
    border-color: white;
    color: black;
    margin: auto;
    width: 75%;
    margin-top: 30px; 
}

.friend-list-title{
    font-size: 35px;
    margin-bottom: 25px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 0 #000, -1px -1px 0  #1A4066, 1px -1px 0 #1A4066, -1px 1px 0 #1A4066, 1px 1px 0  #1A4066;
}

.container{
    display: flex;
}


.friend-box{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    border-radius: 2%;
  }
  .friend-box:after{
      content:"";
      display:block;
      height:25px;
      background: #fff;
  }
  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
  .flex-item{
    padding: 0 25px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;
  }

  .friend-box .friend-img img{
    margin-top: 17px;
    width:80px;
    border-radius: 50%;
    border: 4px solid #156C9F;
    align-items: center;
  }
  .friend-box .friend-name {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 10px 0;
  }
  .friend-box .friend-url {
    font-size: 16px;
    padding: 0 10px;
  }
  .friend-box .friend-added {
    font-size: 12px;
    padding: 10px 25px;
    z-index: 15;
    background: #fff;
    height: 125px;
    text-align: center;
    overflow: auto;
  }

  .friend-box:hover{
    box-shadow: 0 0 40px #524C4C;
    transform: translateY(-5px);
    transition: box-shadow transform 0.5s ease-in-out;
  }
  
  @media only screen and (max-width: 768px) {
    #input-list form {
        width: 290px;
    }
    .flex-item{
      flex-basis: 100%;
    }
  }